body{
    font-family: arial;
}

input{
    border: none;
    background-color: lightgray;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.279);

}

.header{
    background-color: black;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding-left: 10px;
}